@import 'normalize';
@import 'bourbon';

body { padding: 2rem; }

.search {
  margin: 0 0 1rem 0;
  padding: .75rem;
  width: 100%;
  box-sizing: border-box;
}

ul {
  border: 1px solid #ccc;
  border-width: 1px 0 0 1px;
  box-sizing: border-box;
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;

  &.headers { border: none; }
}

li {
  border: 1px solid #ccc;
  border-width: 1px 0 0 1px;
  display: table-row;

  .sort {
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: .5rem;
    @include user-select(none);
  }

  span {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    display: table-cell;
    width: 20%;
    padding: .75rem;
  }
}

.list span {
  &.duration, &.median, &.average {
    color: #ccc;

    &:before {
      color: #000;
      content: attr(data-human-value) ' ';
    }
  }
}
