%table
  %tr
    %th place
    %th visits
    %th duration
  - @places_and_visited_count.each do |place, visits, duration|
    %tr
      %td= place
      %td{ 'data-visit' => "#{visits}" }= visits
      %td{ 'data-duration' => "#{duration}" }= distance_of_time_in_words duration
